@*@{
    var viewModel = (HamedAppleMVCNew.Models.ViewModels.LayoutVM)ViewBag.LayoutVModel;
}*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/Content/Images/favicon.ico" type="image/ico" sizes="16x16">
    <link rel="icon" href="/Content/Images/favicon.png" type="image/png" sizes="16x16">
    <title>حامد اپل - همیشه اولین و بهترین - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body dir="rtl">
    <div class="container body-content">
        <div class="navbar navbar-expand-md mb-3">
            <a class="navbar-brand navbar-brand-image" href="@Url.Action("Index")">
            </a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fas fa-bars text-dark"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                @{
                    Html.RenderAction("LoadTopNavBar", "Home");
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @if (!User.Identity.IsAuthenticated)
    {
        <div class="modal" id="RegisterModal">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header bg-info text-white">
                        <h4 class="modal-title">ثبت سفارش</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" id="RegisterContent">
                    </div>

                </div>
            </div>
        </div>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
